@import "tailwindcss";

.s{
    background-image: url(./img/Rectangle\ 187.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.as{
    background-image: url(./img/2722\ [преобразованный]\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-image: url(./img//2722\ [преобразованный]\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}